#mainNav {
    background-color: darkslategrey;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand {
    color: #e6a756;
    text-decoration: underline;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 0.9rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
        color: #e6a756;
    }
}

.footer {
    background-color: darkslategrey;
}

.bg-faded {
    background-color: dimgray;
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    color: antiquewhite;
}

.mb-3 {
    margin-bottom: 1rem !important;
    color: antiquewhite
}

.mb-0 {
    color: antiquewhite;
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(248, 248, 255, 0.45);
}

/*my created styling for from scratch page*/
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd-fWtdgnAZ20iD3tCiexWnbNXpQCpw7GeqQ&usqp=CAU");
}

.acommon {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:burlywood;
    background-color:rgba(47, 79, 79, 0.8);
    text-align: left;
}

.amedia {
    border: 2px, goldenrod;
    padding: 3px;
}

.abottom {
    position: fixed;
    bottom: 5px;
    left: 5px; 
    right: 5px;
    text-align: center;
}

.atop {
    position: fixed;
    top: 5px; left: 5px;
    right: 5px;
    text-align: left;
}

.acontent {
    position: fixed;
    top: 18%;
    bottom: 15%;
    left: 35%;
    right: 15px
}
.bolder{
    font-size: larger;
    font-weight: 200;
}
.regular{
    font-size:small;
    font-weight: 100;
    text-decoration: underline;
}
.anav{
    position: relative;
    float: right;
}
.summary{
    
}
